.marketOption:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;
}
.marketOptionSelected{
    font-weight: 600;
    background-color: rgb(230, 230, 230);
}
.tradingViewChart{
    height: 500px;
}
.popUp{
    z-index: 1000;
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
}
.news{
    width: 400px;
}
.newsImg{
    width: 100%;
    border-radius: 10px;
}
.news-source {
    color: #6c757d;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.text-rolex {
    color: var(--rolex-green) !important;
  }